.vbox{
    -fx-background-color: #061121;
}

.label-navigation{

    -fx-text-fill: white;
    -fx-font-size: 25;
}
#KLK{
    -fx-font-size: 45;
    -fx-text-fill: white;
}
#NameLabel, #ProgramLabel, #attendanceLabel{
    -fx-font-size: 12;
    -fx-text-fill: black;
}

--remember to disable that
#borderCenter{
    -fx-background-color: yellow;
}

#tilePane{
    -fx-background-color: grey;
}

#vBox{
    -fx-background-color: #bdd9c4;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width:3;

}

#Chart{
    -fx-text-fill: black;
}

#searchfield{
    -fx-focus-color: grey;
    fx-unfocus-color: black;
    fx-label-float: true;
    fx-disable-animation: false;

}



